#include "grin3_dm.dtsi"
 
&kscan0 {
    gpios
        = <&gpio 8 (GPIO_ACTIVE_HIGH)>
        , <&gpio 9 (GPIO_ACTIVE_HIGH)>
        , <&gpio 10 (GPIO_ACTIVE_HIGH)>
        , <&gpio 11 (GPIO_ACTIVE_HIGH)>
        ;
};

&shifter {
    status = "okay";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    #cs-gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
};

&trackball {
    status = "okay";
	irq-gpios = <&xiao_d 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	cpi = <400>;
	evt-type = <INPUT_EV_REL>;
	x-input-code = <INPUT_REL_X>;
	y-input-code = <INPUT_REL_Y>;
};

&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 0)>,
                <NRF_PSEL(SPIM_MOSI, 0, 2)>,
                <NRF_PSEL(SPIM_MISO, 0, 2)>;
        };
    };

    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 0)>,
                <NRF_PSEL(SPIM_MOSI, 0, 2)>,
                <NRF_PSEL(SPIM_MISO, 0, 2)>;
            low-power-enable;
        };
    };

    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 4)>,
                <NRF_PSEL(SPIM_MOSI, 0, 6)>,
                <NRF_PSEL(SPIM_MISO, 0, 7)>;
        };
    };

    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 4)>,
                <NRF_PSEL(SPIM_MOSI, 0, 6)>,
                <NRF_PSEL(SPIM_MISO, 0, 7)>;
            low-power-enable;
        };
    };
};

&spi0 {
    cs-gpios = <&xiao_d 1 GPIO_ACTIVE_LOW>, <&xiao_d 5 GPIO_ACTIVE_LOW>;

    trackball: pd@0 {
        status = "disabled";
        compatible = "pixart,pmw3610";
        reg = <0>;
        spi-max-frequency = <4000000>;
        irq-gpios = <&xiao_d 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };

    shifter: mcp23s17@1 {
        status = "okay";
        compatible = "microchip,mcp23s17";
        gpio-controller;
        spi-max-frequency = <200000>;
        reg = <1>;
        #gpio-cells = <2>;
        ngpios = <16>;
    };
};

&xiao_i2c { status = "disabled"; };
&xiao_serial { status = "disabled"; };
