#include "grin3_dm.dtsi"
 
&kscan0 {
    gpios
        = <&gpio 8 (GPIO_ACTIVE_HIGH)>
        , <&gpio 9 (GPIO_ACTIVE_HIGH)>
        , <&gpio 10 (GPIO_ACTIVE_HIGH)>
        , <&gpio 11 (GPIO_ACTIVE_HIGH)>
        ;
};

