
#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>
#include <dt-bindings/zmk/bt.h>

#define INPUT_EV_KEY 0x01               /**< Key event */
#define INPUT_EV_REL 0x02               /**< Relative coordinate event */
#define INPUT_EV_ABS 0x03               /**< Absolute coordinate event */
#define INPUT_EV_MSC 0x04               /**< Miscellaneous event */
#define INPUT_EV_VENDOR_START 0xf0      /**< Vendor specific event start */
#define INPUT_EV_VENDOR_STOP 0xff       /**< Vendor specific event stop */

#define INPUT_REL_X 0x00                /**< Relative X coordinate */
#define INPUT_REL_Y 0x01                /**< Relative Y coordinate */
#define INPUT_REL_WHEEL 0x08            /**< Relative wheel coordinate */
#define INPUT_REL_HWHEEL 0x06           /**< Relative horizontal wheel coordinate */
#define INPUT_REL_MISC 0x09             /**< Relative misc coordinate */

&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 4)>,
                <NRF_PSEL(SPIM_MOSI, 0, 5)>,
                <NRF_PSEL(SPIM_MISO, 1, 11)>;
        };
    };

    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 4)>,
                <NRF_PSEL(SPIM_MOSI, 0, 5)>,
                <NRF_PSEL(SPIM_MISO, 1, 11)>;
            low-power-enable;
        };
    };
};

&xiao_spi {
    status = "okay";
    cs-gpios = <&xiao_d 1 GPIO_ACTIVE_LOW>;

    shifter: mcp23sxx@1 {
        status = "okay";
        compatible = "microchip,mcp23sxx";
        gpio-controller;
        spi-max-frequency = <200000>;
        reg = <1>;
        label = "MCP23S17";
        #gpio-cells = <2>;
        ngpios = <16>;
        int-gpios = <&xiao_d 3 GPIO_ACTIVE_LOW>;
    };
};

&shifter {
    status = "okay";
};

&kscan0 {
    gpios
        = <&shifter 0 (GPIO_ACTIVE_HIGH)>
        , <&shifter 1 (GPIO_ACTIVE_HIGH)>
        , <&shifter 2 (GPIO_ACTIVE_HIGH)>
        , <&shifter 3 (GPIO_ACTIVE_HIGH)>
        ;
};

&xiao_i2c { status = "disabled"; };
&xiao_serial { status = "disabled"; };


/ {
  chosen {
    zmk,physical-layout = &grin3_physical_layout;
  };

  grin3_physical_layout: grin3_physical_layout {
      compatible = "zmk,physical-layout";
      display-name = "Default";
      transform = <&default_transform>;
      kscan = <&kscan0>;

      keys  //                     w   h    x    y     rot    rx    ry
          = <&key_physical_attrs 100 100    0    0       0     0     0>
          , <&key_physical_attrs 100 100  100    0       0     0     0>
          , <&key_physical_attrs 100 100  201    2     375   251    52>
          , <&key_physical_attrs 150 100    0  100       0     0     0>
          , <&key_physical_attrs 100 100  150  100     125   200   150>
          , <&key_physical_attrs 100 100  251  107     625   301   157>
          , <&key_physical_attrs 175 100    0  200       0     0     0>
          , <&key_physical_attrs 100 100  175  201     250   225   251>
          , <&key_physical_attrs 100 100  276  210     750   326   260>
          , <&key_physical_attrs 100 100  375  227    1250   425   277>
          , <&key_physical_attrs 225 100    0  300       0     0     0>
          , <&key_physical_attrs 100 100  226  304     500   276   354>
          , <&key_physical_attrs 100 100  326  318    1000   376   368>
          ;
    };
    
    default_transform: keymap_transform_0 {
      compatible = "zmk,matrix-transform";
      columns = <4>;
      rows = <4>;

      map = <
        RC(0,1) RC(0,2) RC(0,3) 
        RC(1,0) RC(2,1) RC(2,3)
        RC(2,0) RC(2,1) RC(2,3)
        RC(3,0) RC(3,1) RC(3,2)
        >;
    };
 
    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-charlieplex";
 
        interrupt-gpios = <&shifter 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
};
